core/src/test/resources/resolver/1.xsd

<?xml version="1.0"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.7-b01 svn-revision#${svn.Last.Changed.Rev}. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://predic8.com/common/1/" targetNamespace="http://predic8.com/common/1/">
	<xsd:annotation>
		<xsd:documentation>
			Common datatypes that are used in different systems.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include
		schemaLocation="3.xsd"></xsd:include>
	<xsd:simpleType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				Identifier for business objects.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}-\d{5}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="PersonType">
		<xsd:sequence>
			<xsd:element name="id" type="tns:IdentifierType"></xsd:element>
			<xsd:element name="firstName" type="xsd:string"></xsd:element>
			<xsd:element name="lastName" type="xsd:string"></xsd:element>
			<xsd:element name="address" type="tns:AddressType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string"></xsd:element>
			<xsd:element name="city" type="xsd:string"></xsd:element>
			<xsd:element name="zipCode" type="xsd:string"></xsd:element>
			<xsd:element name="country" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>