core/src/test/resources/wadls/search.wadl

<?xml version="1.0"?> 
  <application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" 
   xmlns:tns="http://tempuri.org" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:yn="http://tempuri.org" 
   xmlns:ya="http://tempuri.org" 
   xmlns="http://wadl.dev.java.net/2009/02"> 
    <grammars> 
     <include 
       href="http://predic8.de/search.xsd"/> 
     <include 
       href="http://predic8.de/error/Error.xsd"/> 
   </grammars> 
 
   <resources base="http://predic8.de/search/V1/"> 
     <resource path="newsSearch"> 
       <method name="GET" id="search"> 
         <request> 
           <param name="appid" type="xsd:string" 
             style="query" required="true"/> 
           <param name="query" type="xsd:string" 
             style="query" required="true"/> 
           <param name="type" style="query" default="all"> 
             <option value="all"/> 
             <option value="any"/> 
             <option value="phrase"/> 
           </param> 
           <param name="results" style="query" type="xsd:int" default="10"/> 
           <param name="start" style="query" type="xsd:int" default="1"/> 
           <param name="sort" style="query" default="rank"> 
             <option value="rank"/> 
             <option value="date"/> 
           </param> 
           <param name="language" style="query" type="xsd:string"/> 
         </request> 
         <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response> 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response> 
       </method> 
     </resource> 
   </resources> 
 
 </application>