com.predic8.membrane.core.tests/resources/validation/ArticleType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://predic8.com/material/1/" xmlns:ns0="http://predic8.com/common/1/" targetNamespace="http://predic8.com/material/1/">
    <xsd:import schemaLocation="http://www.predic8.com:8080/material/ArticleService?xsd=1" namespace="http://predic8.com/common/1/"/>
    <xsd:complexType name="ArticleType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="price" type="ns0:MoneyType"/>
            <xsd:element name="id" type="ns0:IdentifierType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>