com.predic8.membrane.core.tests/resources/validation/CurrencyType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://predic8.com/common/1/" targetNamespace="http://predic8.com/common/1/">

    <xsd:complexType name="MoneyType">
        <xsd:sequence>
            <xsd:element name="amount" type="xsd:decimal"/>
            <xsd:element name="currency" type="tns:CurrencyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="CurrencyType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EUR"/>
            <xsd:enumeration value="USD"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>