core/src/test/resources/validation/ArticleType-bom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

File starts with a byte order mark (BOM) of the byte sequence EF BB BF
to test if the parser is capable of reading files with BOM. BOM handling is implemented
in the resolver class LSInputImpl.

See: https://en.wikipedia.org/wiki/Byte_order_mark

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://predic8.com/material/1/" xmlns:ns0="http://predic8.com/common/1/" targetNamespace="http://predic8.com/material/1/">
    <xsd:import schemaLocation="ArticleService.xsd" namespace="http://predic8.com/common/1/"/>
    <xsd:complexType name="ArticleType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="price" type="ns0:MoneyType"/>
            <xsd:element name="id" type="ns0:IdentifierType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>