distribution/examples/versioning/routing-maven/ContactService_v11.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://predic8.com/contactService/v11" name="ContactService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://predic8.com/contactService/v11" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
	<xsd:schema version="1.0" targetNamespace="http://predic8.com/contactService/v11"
		xmlns:tns="http://predic8.com/contactService/v11" xmlns:xs="http://www.w3.org/2001/XMLSchema">

		<xs:element name="addContact" nillable="true" type="tns:addContact" />

		<xs:element name="addContactResponse" nillable="true"
			type="tns:addContactResponse" />

		<xs:complexType name="addContact">
			<xs:sequence>
				<xs:element name="firstname" type="xs:string" minOccurs="0" />
				<xs:element name="lastname" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>

		<xs:complexType name="addContactResponse">
			<xs:sequence>
				<xs:element name="return" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
    </xsd:schema>
  </types>
  <message name="addContact">
    <part name="parameters" element="tns:addContact"/>
  </message>
  <message name="addContactResponse">
    <part name="parameters" element="tns:addContactResponse"/>
  </message>
  <portType name="ContactService">
    <operation name="addContact">
      <input wsam:Action="http://predic8.com/contactService/v11ContactService/addContactRequest" message="tns:addContact"/>
      <output wsam:Action="http://predic8.com/contactService/v11ContactService/addContactResponse" message="tns:addContactResponse"/>
    </operation>
  </portType>
  <binding name="ContactServicePortBinding" type="tns:ContactService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContactService">
    <port name="ContactServicePort" binding="tns:ContactServicePortBinding">
      <soap:address location="http://localhost:8080/ContactService/v11"/>
    </port>
  </service>
</definitions>

