com.predic8.membrane.core/core/src/test/resources/namesservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://namesservice.thomas_bayer.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://namesservice.thomas_bayer.com/" name="NamesServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://namesservice.thomas_bayer.com/" schemaLocation="http://www.thomas-bayer.com:80/names-service/soap?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCountries">
<part name="parameters" element="tns:getCountries"></part>
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse"></part>
</message>
<message name="getNamesInCountry">
<part name="parameters" element="tns:getNamesInCountry"></part>
</message>
<message name="getNamesInCountryResponse">
<part name="parameters" element="tns:getNamesInCountryResponse"></part>
</message>
<message name="getNameInfo">
<part name="parameters" element="tns:getNameInfo"></part>
</message>
<message name="getNameInfoResponse">
<part name="parameters" element="tns:getNameInfoResponse"></part>
</message>
<portType name="NamesService">
<operation name="getCountries">
<input message="tns:getCountries"></input>
<output message="tns:getCountriesResponse"></output>
</operation>
<operation name="getNamesInCountry">
<input message="tns:getNamesInCountry"></input>
<output message="tns:getNamesInCountryResponse"></output>
</operation>
<operation name="getNameInfo">
<input message="tns:getNameInfo"></input>
<output message="tns:getNameInfoResponse"></output>
</operation>
</portType>
<binding name="NamesServicePortBinding" type="tns:NamesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCountries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNamesInCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNameInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="NamesServiceService">
<port name="NamesServicePort" binding="tns:NamesServicePortBinding">
<soap:address location="http://www.thomas-bayer.com:80/names-service/soap"></soap:address>
</port>
</service>
</definitions>